LOG_CONFIGURATION=/path/to/log.properties
SHUTDOWN_PORT=31337
ACTIVITY_THREAD_COUNT=5
DB_USERNAME=USERNAME_HERE
DB_PASSWORD=PASSWORD_HERE
DB_HOSTNAME=localhost
DB_NAME=TABLE_NAME
CLIENT_ID=SET_ME
DEVELOPER_KEY=SET_ME
