<?php

$GLOBALS['tubestalker_config']['dev_key'] = '';
$GLOBALS['tubestalker_config']['client_id'] = '';
$GLOBALS['tubestalker_config']['memcache_server'] = '127.0.0.1';
$GLOBALS['tubestalker_config']['memcache_port'] = 11211;
$GLOBALS['tubestalker_config']['feed_expiry_time'] = 60;
// keep video metadata for 2 hours
$GLOBALS['tubestalker_config']['metadata_expiry_time'] = 7200;


?>
