<?php

$GLOBALS['ytaviewer_config']['dev_key'] = '';
$GLOBALS['ytaviewer_config']['client_id'] = '';
$GLOBALS['ytaviewer_config']['enable_memcache'] = true;
$GLOBALS['ytaviewer_config']['memcache_server'] = '127.0.0.1';
$GLOBALS['ytaviewer_config']['memcache_port'] = 11211;
$GLOBALS['ytaviewer_config']['feed_expiry_time'] = 60;
// keep video metadata for 2 hours
$GLOBALS['ytaviewer_config']['metadata_expiry_time'] = 7200;


?>
