  body {
    background-color: #aaa;
    font-family: Helvetica, Sans, Arial;
    font-size: medium;
    color: #1F1F1F;
    line-height: 150%;
  }

  #all {
    width: 800px;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    margin-bottom: 10px;
  }

  #top {
      background-color: #fff;
      font-size: small;
      padding: 20px 10px 5px 10px;
      vertical-align: middle; 

  }
  
  .api_not_available {
      color: red;
      padding-left: 3px;
  }
  
  .title {
      display: inline;
      color: #000;
      font-weight: bold;
      font-size: 150%;
      padding-left: 3px;
  }
     
     
  .dark_text {
      color: #1F1F1F;
  }
  
  #feed_type_select {
      display: inline;

  }
  
  #user_activity_input {
      display: inline;
      
  }
  
  #options {
      display: none;
      padding: 7px 5px 5px 5px;
      background-color: #E4E4E4;
      color: #0033D3;
      border: 1px solid #999;
      height: 50px;
      
  }
  #username_search_div {
      display: inline;
      width: 55%;
      float: right;
      border-left: 1px solid #999;
      padding-left: 5px;
  }
  #friend_user_select_div {
      display: inline;
      width: 40%;
      float: left;
      padding-top: 10px;
      padding-left: 5px;
  }
  
  input {
      margin-left: 10px;
      margin-top: 2px;
  }
  
  #loginlogout {
      display: inline;
      float: right;
      margin-top: -25px;
  }
  
  #status {
      display: none;
      background-color: #fff;
      padding: 10px;
  }

  #user_status {
      display: block;
      background-color: #fff;
      padding: 10px;
      display: none;
      margin: 5px;
      width: 200px;
      height: 200px;
  }


  #video_thumbnail {
      display: inline;
      float: left;
      padding-right: 10px;
  }
  
  #activity_stream {
      background-color: #fff;
      margin-top: -25px;
      padding: 10px;
  }
  
  .activity_entry {
      padding: 10px;
      margin-top: 2px;
      margin-bottom: 2px;
  }
  
  ul.feed_output {
  }
  
  li.feed_item {
      list-style: none;
      border-bottom: 1px solid #ddd;
  }
  
  span.video_metadata {
      font-size: small;
      color: #7F7F7F;
  }

  span.activity_timestamp {
      padding: 2px;
      color: #222;
      background-color: #eee;
      font-size: small;
  }
  
  a.username_link {
      padding: 2px;
      text-decoration: none;
      background-color: #F2FF7F;
      color: #1F1F1F;
      
  }

  a.username_link:hover {
      background-color: #A2DF0D;
      color: #000;
  }

  span.my_username_link {
      padding: 2px;
      text-decoration: none;
      color: #000;
      
  }
  
  a.logout_link {
      padding: 2px;
      text-decoration: none;
  }
  
  a.logout_link:hover {
      padding: 2px;
      text-decoration: underline;
      background-color: #EE6969;
  }
  
  a.login_link {
      padding: 2px;
      text-decoration: none;
  }
  
  a.login_link:hover {
      padding: 2px;
      text-decoration: underline;
      background-color: #10D72F;
  }          
  
  span.video_title, a {
      font-size: 105%;
      color: #000;
      text-decoration: none;
      padding: 2px;
  }

  span.video_title:hover {
      font-size: 105%;
      padding: 2px;
      color: #000;
      text-decoration: none;
      background-color: #eee;
      border-bottom: 1px solid #000;
  }
  
  span.video_id {
      color: #7F7F7F;
      font-size: x-small;
  }
  

  span.metadata_not_found {
      color: #4F4F4F;
      font-size: x-small;
      background-color: #BFBFBF;
      padding: 2px;
  }
  
  span.user_activity_not_found {
      color: #000;
      background-color: #BFBFBF;
      padding: 2px;
  }
  img {
      border: none;

  }
  
  .icon {
      display: inline;
      padding: 2px;
      margin-right: 5px;
      font-size: small;
  }
  
  .video_rated {
      background-color: #FFAFAF;
  }
  
  .video_shared {
      background-color: #AFFFFF;
  }
  
  .video_favorited{
      background-color: #D7AFFF;
  }

  .video_commented {
      background-color: yellow;
  }

  .video_uploaded {
      background-color: #EE2D30;
  }
       
  .friend_added {
      background-color: #F5FFAF;
  }

  .user_subscription_added {
      background-color: #B9FFAF;
  }

  #play_video {
    display: none;
  }

  #videobox {
    display: none;
  }

